body		{font-family:times;}
a 		{color:#0030CE; }
a.z0 		{color: #000000; font-size:130%; font-weight:bold; }
a.z1 		{color: #000000; font-size:130%; font-weight:bold; }
a.z2 		{color: #000000;}
a.z3 		{color:#606060; }
a.hd 		{color:#FFFFFF; }
div.lrg 	{text-align: center}
div.lrg2	{width:760;}
div.lrg2 p	{text-align: justify;font-family:verdana; font-size:70%}
div.lrg2 ul	{text-align: justify;font-family:verdana; font-size:70%}
div.ref		{width:760;text-align:left; font-family:verdana; font-size:70%; color:#9CB6CE;}
div.copy	{font-family:times; font-size: 80%; color: #606060; text-align:right}
a.copy		{color: #606060 }
table.lrg 	{width: 760;padding:0 }
td.m0 		{width:19.5%; font-size:80%; font-weight:bold;background-color: #FFCF63;}
td.m0 a		{color:#000000}
td.m0 ul	{margin-bottom:5}
td.m1 		{width:19.5%;background-color: #FFCF63; text-align: center; vertical-align:top; font-family:Verdana; font-weight:bold}
td.m2		{width:19.5%;background-color: #00498C; text-align: center; vertical-align:top; font-family:Verdana; color:#FFFFFF; font-weight:bold}
td.m2 a 	{color: #9CB6CE}
td.m3		{width:1%}
td.m4		{width:1%; background-color: #FFCF63;}
td.mu		{width:12; vertical-align:top}
td.mf		{background-image:url('images/m22f.gif')}
:h1			{font-family: times; font-size: 150%; background-color: #FFCF63; }
h1			{font-family:arial; font-size: 120%; color:#63A2E7; text-align:left; margin-bottom:10; margin-top:30}
td.h1		{width:12; vertical-align:top;background-color: #FFCF63;}
td.hd		{background-color:#00498C; color:#FFFFFF; font-weight:bold; font-family:verdana; font-size:70%}
td.hd0		{background-color:#FFFFFF; color:#000000; font-weight:bold; font-family:verdana; font-size:70%}
td.ur		{text-align:center; background-color:#FFCF63; color:#000000; font-family:verdana; font-size:70%;}
td.vp		{background-color:#FFCF63; color:#000000; font-family:verdana; font-size:70%;}
td.urlt		{text-align:center; background-color:#FFDF93; color:#000000; font-family:verdana; font-size:70%; CURSOR: hand}

td.nul		{background-color:#63A2E7; color:#000000; font-family:verdana; font-size:70%}
td.no		{background-color:#9CB6CE; color:#00498C; font-family:verdana; font-size:70%}
ul.zg		{text-align:left; font-size:80%; font-weight:bold; margin-top:0}
ul.zg a		{color:#F70000}
li.zgr		{color:#F70000}

:td.ur a		{color: #000000}